.header {
    position: sticky;
    top: 0;
}

.title,
.subtitle {
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}

.title span {
    color: rgb(230, 0, 0);
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    @media (prefers-color-scheme: dark) {
        color: #fff;
        background-color: #1A183F;
    }
}