.arrival {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    line-height: 2.3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0, .5);
    border-radius: 0.3rem;
    position: relative;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: rgba(0,0,0,0.7);
    }

    .summary {
        position: relative;
        display: grid;
        grid-template-columns: 3ch 3ch clamp(50vw, 32ch, 200px) auto;
        column-gap: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            z-index: 1;
        }
    }
    
    .contentWrapper {
        border-top: solid 1px rgb(24, 24, 24);
        display: grid;
        grid-template-columns: 3ch 3ch auto;
        grid-template-areas: ". . content";
        column-gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .publicCode {
        display: flex;
        justify-content: center;
    }

    .time {
        text-align: right;
    }

    .isDelayed {
        color: rgb(248, 211, 6);
    }

    .content {
        grid-area: content;
    }

    &.isDelayed .time {
        color: rgb(248, 211, 6);
    }

    @media (min-width: 769px) {
        .summary {
            grid-template-columns: 3ch 3ch auto 6ch 10ch;
            grid-template-areas: "icon id title time state";
        }

        .time {
            text-align: left;
        }

        .state {
            grid-area: state;
            text-align: center;
        }
    }

    @media (prefers-color-scheme: dark) {
        background-color: #111;
        color: rgb(255, 255, 255);
    }
}