.arrival {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    line-height: 2.3rem;
    color: rgb(255, 255, 255);
    background-color: #111;
    position: relative;

    .summary {
        position: relative;
        display: grid;
        grid-template-columns: 3ch 3ch clamp(50vw, 32ch, 200px) auto;
        column-gap: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: #222;
        }

        &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            z-index: 1;
        }
    }
    .contentWrapper {
        display: grid;
        grid-template-columns: 3ch 3ch auto;
        grid-template-areas: ". . content";
        column-gap: 1rem;
        padding: .5rem 1rem;
    }

    .longTitle {}

    .shortTitle {}

    .time {
        text-align: right;
    }

    .content {
        grid-area: content;
    }

    &.isDelayed .time {
        color: rgb(248, 211, 6);
    }

    @media (min-width: 769px) {
        .summary {
            grid-template-columns: 3ch 3ch auto 6ch 10ch;
            grid-template-areas: "icon id title time state";
        }

        .time {
            text-align: left;
        }

        .state {
            grid-area: state;
            text-align: center;
        }
    }

    @media (prefers-color-scheme: dark) {
        background-color: #111;
        color: rgb(255, 255, 255);
    }
}